

{% javascripts filter="" output="js/main.min.js"
	"%kernel.root_dir%/Resources/CaravaneCmsBundle/public/js/*"
	
%}
    <script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}


{#

			<script type='text/javascript' src='wp-content/plugins/revslider/rs-plugin/js/jquery.themepunch.tools.min.js?rev=4.5.95&ver=3.9.2'></script>
			<script type='text/javascript' src='wp-content/plugins/revslider/rs-plugin/js/jquery.themepunch.revolution.min.js?rev=4.5.95&ver=3.9.2'></script>
			<!--[if lt IE 9]><script src="wp-content/themes/circles_08_04_14/js/html5.js"></script><![endif]--><!--[if lt IE 7]><script src="wp-content/themes/circles_08_04_14/js/icomoon.js"></script><![endif]-->	<script type="text/javascript">
			var ajaxurl = 'http://circles.arenaofthemes.com/wp-admin/admin-ajax.php';
			</script>



<script type='text/javascript' src='wp-content/themes/circles_08_04_14/js/main.js'></script>

<script type='text/javascript' src='wp-content/themes/circles_08_04_14/js/jquery.nicescroll.min.js'></script>
<script type='text/javascript' src='http://heartcode-canvasloader.googlecode.com/files/heartcode-canvasloader-min-0.9.1.js'></script>
<script type='text/javascript' src='wp-content/themes/circles_08_04_14/js/jquery.prettyPhoto.js'></script>
<script type='text/javascript' src='wp-content/themes/circles_08_04_14/js/jquery.flexslider-min.js'></script>
<!--<script type='text/javascript' src='wp-content/themes/circles_08_04_14/js/zozo.tabs.min.js'></script>-->
<script type='text/javascript' src='wp-content/themes/circles_08_04_14/js/jquery.isotope.min.js'></script>
<script type='text/javascript' src='wp-content/themes/circles_08_04_14/js/jquery.iosslider.min.js'></script>
<!--<script type='text/javascript' src='wp-content/themes/circles_08_04_14/js/retina.js'></script>-->
<script type='text/javascript' src='wp-includes/js/comment-reply.min.js?ver=3.9.2'></script>
#}
<div class="media_for_js"></div>
