<!DOCTYPE html>
<html lang="en-US">
	<head>
		<meta charset="UTF-8" />
		<meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0'>
		<title>Immobilière Le Lion</title>
		<link rel="profile" href="http://gmpg.org/xfn/11" />
		<link rel="pingback" href="xmlrpc.php.html" />
		<meta name='robots' content='noindex,follow' />
		{% block meta_facebook %}
			<meta property="og:url" content="http://www.immo-lelion.be" />
			<meta property="og:title" content="Immobilière Le Lion" />
			<meta property="og:description" content="Une agence locale de qualité intégrée dans un réseau international de prestige." />
			<meta property="og:image" content="{{asset('medias/logo.png')}}" />
		{% endblock meta_facebook %}
		{% include "CaravaneCmsBundle::stylesheet.html.twig" %}
		<script src="{{ asset('js/jquery.js') }}"></script>
		<script src="{{ asset('js/bootstrap.js') }}"></script>
	</head>
	<body class="home page page-id-92 page-template page-template-template-homepage-php w1170 sticky-menu-on nice-scroll no-sidebar">
		{% block header %}
			<header class='page-header '>
				{#    MENU TOP  #}
				{#% include "CaravaneCmsBundle:Menu:top.html.twig" %#}

				{#    MAIN MENU + SEARCH  #}
				{% include "CaravaneCmsBundle:Menu:main.html.twig" %}
			</header>
		{% endblock header %}

		{% block content %}


		{% endblock content %}
				<!-- Content area 7 -->


			{#  FOOTER  #}

			{% include "CaravaneCmsBundle:Menu:footer.html.twig" %}


			<a id="back_to_top" href="#"></a>
			{% include "CaravaneCmsBundle::javascript.html.twig" %}
		</body>
	</html>
	<!-- Localized -->
