<footer>
	<div class='wrapper grey'>
		<div class='container'>
			<div class="row">
				<div class='col-md-3'>
					<section>
						<img src="/medias/logo_footer.png"  alt="">
					</section>
				</div>
				<div class='col-md-3'>
					<section>
						<ul>
							<li><a href="#">Immobilier de prestige</a></li>
							<li><a href="#">Immobilier de luxe</a></li>
							<li><a href="#">Agence immobilière de luxe</a></li>
							<li><a href="#">Penthouse</a></li>
							<li><a href="#">Villas</a></li>
							<li><a href="#">Villa à louer</a></li>
							<li><a href="#">Maisons de luxe</a></li>
							<li><a href="#">Appartements de luxe</a></li>
							<li><a href="#">Immobilier de luxe Luxury </a></li>
						</ul>
					</section>
				</div>
				<div class='col-md-3'>
					<section>
						<h2>Contact</h2>
						<div class="textwidget">
							<address>
								<ul class="phone">
								<li><b class="phone">Tel: <a href="tel:+32 2 672 71 11">+32 2 672 71 11</a></b></li>
							</ul>
							<ul class="address">
								<li>Avenue Delleur 8</li>
								<li>B-1170</li>
								<li>Brussels, Belgium</li>
							</ul>
							</address>
						</div>
					</section>
				</div>
				<div class='col-md-3'>
					<section>
						<h2>Suivez-nous</h2>
						{% include "CaravaneCmsBundle:Menu:social_list.html.twig" %}
					</section>
				</div>
			</div>
		</div>
	</div>
	<div class='wrapper dark-grey copyright-bar'>
		<div class='container'>
				<div class="row">
					<div class='col-md-12'>
						<span class='copyright'>© 2014 Immobilière Le Lion</span>
					</div>
				</div>
		</div>
	</div>
</footer>
