			<footer>
				<div class='wrapper grey'>
					<div class='container'>
						<div class='col-md-3'>
							<section id="text-5" class="widget widget_text">			<div class="textwidget"><img src="/medias/logo_footer.png"  alt=""></div>
						</section>	</div>
						<div class='col-md-3'>
							<section id="latest-posts-2" class="widget widget_latest_posts_entries">
								<ul class="latest-posts">
								<li>
									<a href="#">Lien 1</a>
								</li>
								<li>
									<a href="#">Lien 1</a>
								</li>
								<li>
									<a href="#">Lien 1</a>
								</li>
								<li>
									<a href="#">Lien 1</a>
								</li>

								<li>
									<a href="#">Lien 1</a>
								</li>
								<li>
									<a href="#">Lien 1</a>
								</li>

							</ul>
						</section>	</div>
						<div class='col-md-3'>
							<section id="text-3" class="widget widget_text"><h2>Contact</h2>			<div class="textwidget"><address>
								<ul class="address">
									<li>Avenue Delleur 8</li>
									<li>B-1170</li>
									<li>Brussels, Belgium</li>
								</ul>
								<ul class="phone">
									<li>Phone: +32 2 672 71 11</li>
									<li>Fax: +32 2 672 67 17</li>
								</ul>
							</address></div>
						</section>	</div>
						<div class='col-md-3'>
							<section id="random-work-2" class="widget widget_social_icons_item"><h2>Suivez-nous</h2>			<ul class='socials-bottom clearfix'>
								<li>
									<a class='fa fa-facebook' href='http://facebook.com' target="_blank"></a>
									<div class='cloud'>Facebook<div class='helper'></div></div>
								</li>
								<li>
									<a class='fa fa-twitter' href='http://twitter.com/google' target="_blank"></a>
									<div class='cloud'>Twitter<div class='helper'></div></div>
								</li>
							</ul>
						</section>	</div>
					</div>
				</div>
				<div class='wrapper dark-grey copyright-bar'>
					<div class='container'>
						<div class="row">
							<div class='col-md-12'>
								<span class='copyright'>© 2014 Immobilière Le Lion</span>
							</div>
						</div>
					</div>
				</div>
			</footer>
