<nav class="navbar navbar-default " role="navigation" id="menutop">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class='nav navbar-nav'>
        <li>
          <a class='fa fa-facebook' href='http://www.facebook.com/pages/Brussels-Belgium/Immobiliere-Le-Lion/117039664993793' title="Facebook" target="_blank"></a>
        </li>
        <li>
          <a class='fa fa-twitter' href='http://twitter.com/ImmoLeLion' title="Twitter" target="_blank"></a>
        </li>
        <li>
          
          <a class='fa fa-instagram ' href='' title="Instagram" target="_blank"></a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" style="margin-right: 0">
        <li class="dropdown">
          {% if is_granted('ROLE_USER') -%}
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Mon compte <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="#">Mes recherches</a></li>
              <li><a href="#">Ma selection</a></li>
              <li class="divider"></li>
              <li><a href="{{path('fos_user_profile_show')}}">Profile</a></li>
              <li><a href="{{path('fos_user_security_logout')}}">Me déconnecter</a></li>
            </ul>
          {% else %}
            <a href="{{path('fos_user_security_login')}}" >Se connecter</a>
          {% endif %}
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">FR <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">FR</a></li>
            <li><a href="#">EN</a></li>
          </ul>
        </li>
      </ul>
      
      </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>