{% extends "CaravaneCmsBundle::layout.html.twig" %}


{% block header %}
	<header class='page-header '>
		{#    MENU TOP  #}
		{% include "CaravaneCmsBundle:Menu:top.html.twig" %}

		{#    SLIDE SHOW  #}
		{% include "CaravaneCmsBundle:Frontend:Widget/slider.html.twig" %}



		{#    MAIN MENU + SEARCH  #}
		{% include "CaravaneCmsBundle:Menu:main.html.twig" %}
	</header>
{% endblock header %}

{% block content %}

	{#   NEW ITEMS #}
	{{ render(controller('CaravaneEstateBundle:Estate:lastUpdated', { 'max': 6 } ) ) }}
		<!-- Content area 4 -->
	<aside class='wrapper border-tb-white marble-color' id="home_infos">
		<div class='container container-md-height'>
			<div class="row row-md-height">
				<div class='col-md-5 col-md-height col-bottom'>
					<div style="position: relative;">
						<img src="/medias/iphone2.png" class="img-responsive" style="bottom: 0" />
					</div>
				</div>
				<div class="col-md-7 col-md-height col-top">
					<div class="row">
						<div class="col-md-12">
							<h2>APPLICATION MOBILE</h2>
							<p>
								Pour toujours mieux vous accompagner dans le cadre de votre recherche immobilière, notre application mobile vous permet de recevoir instantanément les dernières offres,  de géo-localiser les biens à proximité ou de consulter toutes les informations relatives à ceux-ci.</p>
								<p>
L’application est disponible en téléchargement via l’ <a href="http://itunes.apple.com/be/app/id396510696?mt=8">AppStore</a>.
</p>
							<p><a href="http://itunes.apple.com/be/app/id396510696?mt=8"><img src="{{asset('/bundles/caravanecms/img/appstore_button_fr.png')}}" /></a>
							</p>
							<br/>
							<div class="separator"></div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-6">
							
							<h2>SUIVEZ-NOUS</h2>

								<ul class="social">
									<li>
									    <a class='fa fa-facebook' href='http://www.facebook.com/pages/Brussels-Belgium/Immobiliere-Le-Lion/117039664993793' title="Facebook" target="_blank"></a>
									</li>
									<li>
									    <a class='fa fa-twitter' href='http://twitter.com/ImmoLeLion' title="Twitter" target="_blank"></a>
									</li>
									<li>
										<a class='fa fa-pinterest ' href='http://www.pinterest.com/immolelion/' title="Pinterest" target="_blank"></a>
									</li>
								</ul>
								<br/>
						</div>
						<div class="col-md-6">
								<h2>NEWSLETTER</h2>
								<div class="input-group text-center">
									<label class="sr-only" for="caravane_bundle_crmbundle_newslettertype_email"></label>
									<input type="text" id="caravane_bundle_crmbundle_newslettertype_email" name="caravane_bundle_crmbundle_newslettertype[email]" required="required" class=" form-control " placeholder="Email">
									<span class="input-group-btn">
										<button class="btn btn-default" type="submit">Subscribe</button>
									</span>
								</div>
								<br/>
							</div>
						</div>
					</div>
				</div>	
			</div>
		</div>
	</aside>

	{% include "CaravaneCmsBundle:Frontend:Widget/twitter.html.twig" %}


{% endblock content %}
