{% extends "CaravaneCmsBundle::layout.html.twig" %}


{% block header %}
	<header class='page-header '>
		{#    MENU TOP  #}
		{% include "CaravaneCmsBundle:Menu:top.html.twig" %}
		
		{#    SLIDE SHOW  #}
		{% include "CaravaneCmsBundle:Frontend:Widget/slider.html.twig" %}



		{#    MAIN MENU + SEARCH  #}
		{% include "CaravaneCmsBundle:Menu:main.html.twig" %}
	</header>
{% endblock header %}

{% block content %}

	{#   NEW ITEMS #}
	{{ render(controller('CaravaneEstateBundle:Estate:lastUpdated', { 'max': 6 } ) ) }}
		<!-- Content area 4 -->
	<aside class='wrapper border-tb-white marble-color'>
			<div class='container'>
				<div class='advantages'>
					<section class='col-md-6'>
						<div class='icon-content'>
							<img src="medias/iphone2.png" />
						</div>
					</section>
					<section class='col-md-6'>
						<a href='index.html'><h2 class='tran03slinear'>SUIVEZ-NOUS</h2>
						</a>
						<div class='icon-content'>
							<ul class='socials-bottom clearfix'>
								<li>
									<a href='http://facebook.com' target="_blank" style="background-image: none; font-size: 52px;"><span class="fa fa-facebook"></span></a>
									<div class='cloud'>Facebook<div class='helper'></div></div>
								</li>
								<li>
									<a class='twitter' href='http://twitter.com/google' target="_blank" style="background-image: none; font-size: 52px;"><span class="fa fa-twitter"></span></a>
									<div class='cloud'>Twitter<div class='helper'></div></div>
								</li>
							</ul></div>
							<br/>
							<a href='index.html'><h2 class='tran03slinear'>NEWSLETTER</h2>
							</a>
							<div class='icon-content'>
								<div class="input-group text-center">
									<label class="sr-only" for="caravane_bundle_crmbundle_newslettertype_email"></label><input type="text" id="caravane_bundle_crmbundle_newslettertype_email" name="caravane_bundle_crmbundle_newslettertype[email]" required="required" class=" form-control " placeholder="Email *
									">
									<span class="input-group-btn">
									<button class="btn btn-default" type="submit">Subscribe</button>
									</span>
								</div>
							</div>
						</section>
					</div>				</div>
	</aside>

	{% include "CaravaneCmsBundle:Frontend:Widget/twitter.html.twig" %}


{% endblock content %}
