{% extends "CaravaneCmsBundle::layout.html.twig" %}
{% trans_default_domain 'CaravaneCmsBundle' %}

{% block header %}
	<header class='page-header '>
		{#    SLIDE SHOW  #}
		{% include "CaravaneCmsBundle:Frontend:Widget/slider.html.twig" %}



		{#    MAIN MENU + SEARCH  #}
		{% include "CaravaneCmsBundle:Menu:main.html.twig" %}
	</header>
{% endblock header %}

{% block content %}

	


	<aside class='wrapper border-tb-white marble-color home_infos'  id="home_infos">
		<div class='container'>
			<div class="row ">
				<div class="col-md-12">
					{{ render(controller('CaravaneCmsBundle:Node:render', { 'uri': '/legal'} )) }}


	
	</div>
</div></div></aside>

{% endblock content %}
