{% extends "CaravaneCmsBundle::layout.html.twig" %}
{% trans_default_domain 'CaravaneCmsBundle' %}

{% block header %}
	<header class='page-header '>
		{#    SLIDE SHOW  #}
		{% include "CaravaneCmsBundle:Frontend:Widget/slider.html.twig" %}



		{#    MAIN MENU + SEARCH  #}
		{% include "CaravaneCmsBundle:Menu:main.html.twig" %}
	</header>
{% endblock header %}

{% block content %}

	


	<aside class='wrapper border-tb-white marble-color home_infos'  id="home_infos">
		<div class='container'>
			<div class="row ">
				<div class="col-md-12">



	<h1>Mentions legales</h1>

<h2>Informations entreprise</h2>

<strong>Immobilière Le Lion S.A.</strong>
<p>
Dont le siège social est établi à :<br/>
Avenue Delleur 8<br/>
B-1170 Bruxelles<br/>
Belgique
</p>
<p>
Téléphone : 02 672 71 11<br/>
Fax : 02 672 67 17<br/>
 @mail : <a href="mailto:info@immo-lelion.be">info@immo-lelion.be</a><br/>
Numéro d'entreprise : RC 608.171<br/>
Numéro de TVA : BE.0459.150.290<br/>
Agrégation IPI : 100 239 (Mme Suzanne Belgeonne) – 500 679 (M. Jean de Kerchove)<br/>
Instance de contrôle : IPI - rue du Luxembourg, 16B à 1000 Bruxelles<br/>
Code de déontologie : IPI - <a href="http://www.ipi.be">www.ipi.be</a><br/>
Conformément à la directive déontologique n° 1, entrée en vigueur le premier janvier 2007, nous précisons que notre responsabilité civile professionnelle (notamment) est couverte dans le cadre d’une police d’assurances souscrite auprès de la Compagnie ALLIANZ.
</p>

<h2>Avertissement légal</h2>
<p>
L’agence Immobilière Le Lion S.A. s'engage à respecter l'ensemble des lois concernant la mise en place et l'activité d'un site Internet. L'éditeur attire l'attention des usagers de son site sur les points ci-après :
</p>

<h2>Conditions d'accès et d'utilisation</h2>
<p>
Ce site, de langue française, est un site d'information qui s'adresse aussi bien aux clients de Immobilière Le Lion S.A., qu'aux non clients, dénommés ci-après «internautes». Ce site est soumis à la loi belge. L'internaute reconnaît avoir pris connaissance de la présente charte et s'engage à la respecter.
</p>
<p>
Il est rappelé que le secret des correspondances n'est pas garanti sur le réseau Internet et qu'il appartient à chaque internaute de prendre toutes les mesures appropriées de façon à protéger ses propres données et/ou logiciels.
</p>
<h2>
Liens hypertexte et informations mises à disposition</h2>
<p>
Ce site comporte notamment des informations mises à disposition par des sociétés externes ou des liens hypertextes vers d'autres sites qui n'ont pas été développés par Immobilière Le Lion S.A. et ne sont pas sous sa responsabilité.
</p>
<p>
L'existence d'un lien du site de l’Immobilière Le Lion S.A. vers un autre site ne constitue pas une validation de ce site ou de son contenu. Il appartient à l'internaute d'utiliser ces informations avec discernement et esprit critique. La responsabilité de l'éditeur ne saurait être engagée quant aux informations, opinions et recommandations formulées par ces tiers.
</p>
<p>
Tout lien hypertexte vers le site de l’agence Immobilière Le Lion S.A. doit faire l'objet d'une autorisation expresse et préalable de l'éditeur. Le contenu mis à disposition sur le présent site est fourni à titre informatif et est susceptible d'être révisé ultérieurement.
</p>
<p>
Il est rappelé les risques inhérents à la transmission électronique des informations : des retards, omissions ou inexactitudes sont susceptibles de se produire. Ces informations sont fournies en l'état, quelle que soit leur source.
</p>
<h2>
Tarification</h2>
<p>
L'accès à ce site est gratuit, hors fournisseurs d'accès Internet et hors coûts de communications téléphoniques qui sont facturés directement par les opérateurs.
Pour toute demande de précision, vous pouvez contacter le webmaster du site dans la rubrique contact.
</p>
<h2>
Informatique et libertés</h2>
<p>
Les informations et données personnelles saisies sur le Site de l’ Immobilière Le Lion S.A. par les internautes et recueillies par l’ Immobilière Le Lion S.A. en qualité de responsable de Traitement ne seront utilisées et ne feront l'objet de communication aux destinataires mentionnés ci-après et déclarés à la Commission Nationale de l'Informatique et des Libertés que pour les seules finalités :
<ul>
<li> de la gestion des demandes de renseignement,</li>
<li> de prospection commerciale,</li>
<li> des alertes e-mail</li>
</ul>
Les données signalées par un astérisque sur les formulaires et questionnaires sont nécessaires à la gestion des opérations mentionnées ci-dessus. Le défaut de communication d'une donnée obligatoire aura pour conséquence d'empêcher l'utilisation de la fonctionnalité.
</p>
<p>
Les données seront communiquées aux destinataires suivants :
<br/>
Des prestataires de service pour l'exécution de travaux sous-traités : à cet effet, l'internaute accepte expressément que les informations de données personnelles le concernant soient transmises par l’ Immobilière Le Lion S.A.  aux sous-traitants qui exécutent pour son compte certaines tâches matérielles et techniques indispensables et indissociables des offres proposées et des services associés.
</p>
<p>

Sauf opposition du titulaire, l’Immobilière Le Lion S.A. pourra être conduit à traiter ces informations (notamment par courrier électronique, téléphone...) à son profit exclusif ou pour le compte de ses partenaires commerciaux dans le cadre d'opérations commerciales.
Ces informations pourront donner lieu à l'exercice du droit d'accès, de communication, d'opposition et de rectification dans les conditions prévues par la loi relative à l'informatique, aux fichiers et aux libertés(*).
L'internaute peut s'opposer à recevoir des sollicitations commerciales en vue de la présentation des produits et services de l’ Immobilière Le Lion S.A en indiquant qu'il ne souhaite pas être sollicité lors de la collecte de ses données en s'adressant au webmaster. 
(*) Pour l'exercer, adressez-vous par courrier ou par courriel à : Brussels Sotheby’s International Realty., Avenue Louis Lepoutre 49, B1050 Bruxelles, Belgique.
</p>
<p>
Toute prospection par automate d'appel, courrier électronique ou fax ainsi que toute cession ou location des données à des fins de prospection utilisant ces moyens ne seront réalisées qu'avec le consentement préalable de l'internaute concerné à recevoir des prospections via ce canal ou/et à la cession de ses données.
</p>
<p>
Les Informations nominatives ne sont communiquées à des tiers que pour satisfaire aux obligations légales et réglementaires.
</p>
<p>
L’ Immobilière Le Lion S.A. attire l'attention des partenaires sur le fait qu'il leur appartient de mettre en place toutes les mesures nécessaires pour conserver la confidentialité du mot de passe permettant d'accéder à l'Extranet qui leur est dédié. Lors de la consultation du site par le biais d'un ordinateur partagé par d'autres utilisateurs, l'internaute doit prendre soin de terminer sa session en utilisant le lien «me déconnecter».
</p>
<h2>
Droits d'auteur</h2>
<p>
Le site doit être considéré comme un tout indissociable. Les informations y figurant sont réservées à un usage exclusivement personnel et ne peuvent être en tout ou partie ni reproduites, ni communiquées. l'ensemble des données (textes, sons ou images) figurant sur les pages de ce site sont la propriété exclusive de l’ Immobilière Le Lion S.A. ou de ses partenaires. Toute reproduction, représentation ou diffusion, à des fins autres que personnelles, en tout ou partie du contenu de ce site sur quelque support ou par tout procédé que ce soit est interdite. Le non-respect de cette interdiction constitue une contrefaçon susceptible d'engager la responsabilité civile et pénale du contrefacteur. Il est strictement interdit d'utiliser ou de reproduire le nom " Immobilière Le Lion " et ou son logo, seuls ou associés, à quelque titre que ce soit, et notamment à des fins publicitaires, sans accord préalable écrit l’ Immobilière Le Lion S.A..
</p>
<h2>
Informations sur nos partenaires</h2>
<p>
Bien que l’ Immobilière Le Lion S.A. fasse tout ce qui est raisonnablement possible pour s'informer auprès de sources qu'elle juge fiables, elle ne prétend pas que toutes les informations diffusées sur le site de l’Immobilière Le Lion S.A. soient exactes, fiables, complètes et à jour. Ce transfert d'annonces est informatisé et automatisé. Les annonces ne font donc pas l'objet d'un contrôle avant leur publication et bien que l’ Immobilière Le Lion S.A.  fasse tout ce qui est raisonnablement possible pour assurer un contrôle qualité des annonces, elle ne saurait être tenue responsable d'annonces dont le contenu serait contraire notamment aux bonnes mœurs, à l'ordre public et aux dispositions du droit du travail et/ou comporterait toutes discriminations, quelles qu'elles soient, notamment sexuelles, raciales, religieuses. De plus, ces annonces immobilières sont fournies à titre d'information et pour un usage personnel seulement. Elles sont susceptibles d'être modifiées et ou supprimées sans avis préalable.
</p>
<p>
En conséquence, Immobilière Le Lion S.A. décline toute responsabilité, expresse ou tacite, concernant l'exactitude, l'exhaustivité ou les délais de mise à jour de ces annonces et des autres contenus..

Le téléchargement ou toute autre forme de copie d'un logiciel ou d'informations présentes sur le site de l’Immobilière Le Lion S.A. y ne vous confèrent aucun droit sur ceux-ci. Vous ne pouvez ni reproduire (en tout ou en partie) ni transmettre (électroniquement ou de quelque autre manière), ni modifier, ni utiliser le site de l’Immobilière Le Lion S.A. à des fins publiques ou commerciales, ni créer des liens avec celui-ci, sans l'autorisation écrite préalable de l’Immobilière Le Lion S.A..
</p>
<p>
L'internaute s'engage de son côté :
<ul>
<li> à ne pas exploiter les services de l’Immobilière Le Lion S.A. ou les données personnelles auxquelles il aurait pu avoir accès ;</li>
<li> à ne pas proposer des produits et services du Site de l’Immobilière Le Lion S.A.  lui permettant d'obtenir directe ou indirectement une rémunération;</li>
<li> à ne pas limiter l'accès et l'utilisation du site de l’Immobilière Le Lion S.A.;</li>
<li> à ne modifier aucune mention ou élément du site de l’Immobilière Le Lion S.A.;</li>
<li> à ne pas procéder à l'envoi en masse et non sollicité de courriers électroniques ou postaux auprès des autres internautes.</li>
</ul>
</p>
<p>
Vous avez d’autres questions ? <a href="{{url('caravane_cms_contact')}}">Contactez-nous</a>.
</p>
	</div>
</div></div></aside>

{% endblock content %}
