  <ul class="list-inline">
   <li>
                        <a class="btn btn-default btn-facebook" target="" href="{{path('caravane_hybrid_auth_login',{'provider':'Facebook'})}}">
                            <i class="fa fa-facebook"></i>
                            <span id="btn-fb-text">acebook</span>
                        </a>
                    </li>
                    <li>
                        <a class="btn btn-default btn-google" target=""  href="{{path('caravane_hybrid_auth_login',{'provider':'Google'})}}">
                            <i class="fa fa-google-plus"></i>
                            <span id="btn-gp-text">oogle</span>
                        </a>
                    </li>
</ul>
