<form name="searchForm" id="searchForm" method="get" action="/vente" class="general">
							<section class='row' style="margin-bottom:10px">
								<div class='col-sm-6 col-md-4'>
									&nbsp;
								</div>
								<div class="col-md-4">
									<div class="btn-group btn-group-justified" data-toggle="buttons">
										<label class="btn btn-primary active">
											<input type="radio" name="options" id="option1" checked> Vente
										</label>
										<label class="btn btn-primary">
											<input type="radio" name="options" id="option2"> Location
										</label>
									</div>
								</div>
								<div class='col-md-4'>
									&nbsp;
								</div>
							</section>
							<section class='row' style="margin-bottom:10px">
								<div class='col-sm-6  col-md-4'>
									<div class="input-group">
										<span class="input-group-addon"><span class="fa  fa-search"></span></span>
										<input type="text" name="keywords" id="keywords" value="" class="form-control" placeholder="Mot clef (ex. piscine, brugmann)">
									</div>
								</div>
								<div class='col-sm-6  col-md-4'>
									
										<select name="quartier" id="quartiers" class="form-control"  ><option value="">Quartier</option>
											<option value="8">1000 Bxl Loi</option>
											<option value="57">1000 Dansaert</option>
											<option value="71">1000 Madou</option>
											<option value="59">1000 Palais Royal</option>
											<option value="5">1000 Roosevelt</option>
											<option value="36">1000 Rue Aux Laines</option>
											<option value="31">1000 Sablon</option>
											<option value="78">1000 Tour et taxis</option>
											<option value="61">1030 prox UE</option>
											<option value="69">1030 Schaerbeek Josaphat</option>
											<option value="37">1040 Cinquentenaire</option>
											<option value="58">1050 - Faider</option>
											<option value="32">1050 - Stephanie</option>
											<option value="23">1050 - XL Louise - Bois Abbaye</option>
											<option value="46">1050 Bois Cambre</option>
											<option value="39">1050 Chatelain</option>
											<option value="45">1050 Etangs</option>
											<option value="72">1050 Fernand Cocq</option>
											<option value="66">1050 UE</option>
											<option value="53">1050 ULB</option>
											<option value="79">1060 St-Gilles</option>
											<option value="44">1150 Chant d'oiseau</option>
											<option value="70">1150 Stockel</option>
											<option value="35">1150 WSP</option>
											<option value="13">1150 WSP Etangs</option>
											<option value="55">1160 Auderghem</option>
											<option value="12">1170 Watermael</option>
											<option value="6">1180 - Churchill Bois</option>
											<option value="15">1180 Bois Cambre Uccle</option>
											<option value="93">1180 chenes</option>
											<option value="75">1180 Coghen-Floreal</option>
											<option value="85">1180 Errera Messidor</option>
											<option value="43">1180 Fort jaco</option>
											<option value="17">1180 Molière</option>
											<option value="84">1180 Montjoie Floride</option>
											<option value="51">1180 Montjoie-Churchill</option>
											<option value="18">1180 Observatoire</option>
											<option value="20">1180 Place Brugmann</option>
											<option value="60">1180 Place communale</option>
											<option value="9">1180 Prince d'Orange</option>
											<option value="56">1180 St-Job</option>
											<option value="76">1180 Vert Chasseur</option>
											<option value="83">1180 Vivier d'oie</option>
											<option value="64">1180 Wolvendael</option>
											<option value="67">1190 Forest</option>
											<option value="11">1190 Moliere - Forest</option>
											<option value="77">1200 Montgomery</option>
											<option value="47">1200 Vergote</option>
											<option value="7">1300 Wavre</option>
											<option value="62">1301 Bierges</option>
											<option value="16">1310 La Hulpe</option>
											<option value="89">1325 Corroy-le-Grand</option>
											<option value="65">1330 Rixensart</option>
											<option value="41">1331 Rosières</option>
											<option value="81">1332 Genval</option>
											<option value="90">1367 Geest-Gerompont</option>
											<option value="34">1370 Saint-Remy-Geest</option>
											<option value="29">1380 Lasne</option>
											<option value="22">1380 Ohain</option>
											<option value="52">1390 Grez-Doiceau</option>
											<option value="25">1410 Waterloo</option>
											<option value="33">1410 Waterloo-Lion</option>
											<option value="42">1420 Braine 7 fontaines</option>
											<option value="82">1470 Baisy-Thy</option>
											<option value="63">1470 Bousval</option>
											<option value="87">1473 Glabais</option>
											<option value="30">1495 Sart-Dames Avelines</option>
											<option value="40">1560 Hoeilaart</option>
											<option value="49">1630 Linkebeek</option>
											<option value="21">1640 Rhode - Foret Soignes</option>
											<option value="14">1640 Rhode 1</option>
											<option value="24">1640 Rhode Grande Espinette</option>
											<option value="54">1650 Beersel</option>
											<option value="80">1653 Dworp</option>
											<option value="73">1700 Dilbeek</option>
											<option value="91">1785 Brussegem</option>
											<option value="26">1800 Peutie</option>
											<option value="86">1850 Grimbergen</option>
											<option value="94">1860  Meise</option>
											<option value="28">1950 Kraainem - Huart</option>
											<option value="10">1970 Wezembeek-Oppem</option>
											<option value="38">3080 Tervueren</option>
											<option value="74">3090 Overijse</option>
											<option value="48">3090 Overijse Jezus Eik</option>
											<option value="27">5621 - Hanzinelle</option>
											<option value="19">6210 Les-Bons-Villiers</option>
											<option value="68">7090 Braine-le-Comte</option>
											<option value="50">7822 Meslin l'eveque</option>
											<option value="88">7830 Silly</option>
										</select>
									
								</div>
								<div class=' col-sm-6 col-md-4'>
									<div class="input-group">
										<span class="input-group-addon">030</span>
										<input type="text" name="ref" id="ref" class="form-control" placeholder="Référence" >
									</div>
								</div>
							</section>
							<section class='row' style="margin-bottom:10px">
								<div class="col-sm-6  col-md-4">
									<div class="btn-group-vertical " data-toggle="buttons" style="margin-bottom:10px">
										<label class="btn btn-primary ">
											<input type="checkbox" name="options" id="option1" > Biens neufs
										</label>
									</div>
									<div class="btn-group-vertical " data-toggle="buttons">
										<label class="btn btn-primary ">
											<input type="checkbox" name="options" id="option1" checked> Maison
										</label>
										<label class="btn btn-primary">
											<input type="checkbox" name="options" id="option2"> Appartement
										</label>
										<label class="btn btn-primary">
											<input type="checkbox" name="options" id="option2"> Autre
										</label>
									</div>
								</div>
								<div class="col-sm-6  col-md-4">
									<div class="btn-group-vertical " data-toggle="buttons">
										<label class="btn btn-primary ">
											<input type="checkbox" name="options" id="option1" checked> BRUXELLES SUD ET CENTRE
										</label>
										<label class="btn btn-primary">
											<input type="checkbox" name="options" id="option2"> BRUXELLES EST
										</label>
										<label class="btn btn-primary">
											<input type="checkbox" name="options" id="option2"> PERIPHERIE BRUXELLOISE
										</label>
										<label class="btn btn-primary">
											<input type="checkbox" name="options" id="option2"> PROVINCE
										</label>
									</div>
									
							</div>
							<div class='col-sm-6  col-md-4'>
								<div class="btn-group-vertical" data-toggle="buttons">
									<label class="btn btn-primary ">
										<input type="checkbox" name="options" id="option1" checked> - de 750.000 €
									</label>
									<label class="btn btn-primary">
										<input type="checkbox" name="options" id="option2"> de 750.000 à 1.500.000 €
									</label>
									<label class="btn btn-primary">
										<input type="checkbox" name="options" id="option2"> + de 1.500.000 €
									</label>
								</div>
							</div>
						</section>
