		<div class='wrapper top-slider ' id="home_slider">
			<div id="rev_slider_1_2_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin:0px auto;background-color:#E9E9E9;padding:0px;margin-top:0px;margin-bottom:0px;max-height:450px;">
							<div id="rev_slider_1_2" class="rev_slider fullwidthabanner" style="display:none;max-height:450px;height:450px;">
								<ul>	<!-- SLIDE  -->
								<li data-transition="fade" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" >
									<!-- MAIN IMAGE -->
									<img src="medias/home/1.jpg"  alt="slide11"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
									<!-- LAYERS -->
									<!-- LAYER NR. 1 -->
									<div class="tp-caption transp_bg lfl"
										data-x="405"
										data-y="70"
										data-speed="500"
										data-start="500"
										data-easing="easeOutExpo"
										data-splitin="none"
										data-splitout="none"
										data-elementdelay="0"
										data-endelementdelay="0"
										data-end="8700"
										data-endspeed="300"
										style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;"><h2><b>standing</b><br> & nature</h2>
										<p>Waterloo</p>
									</div>
								</li>
								<!-- SLIDE  -->
								<li data-transition="fade" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" >
									<!-- MAIN IMAGE -->
									<img src="medias/home/2.jpg"  alt="slide2_compressed-1"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
									<!-- LAYERS -->
									<!-- LAYER NR. 1 -->
									<div class="tp-caption transp_bg lfl"
										data-x="780"
										data-y="135"
										data-speed="500"
										data-start="500"
										data-easing="easeOutExpo"
										data-splitin="none"
										data-splitout="none"
										data-elementdelay="0"
										data-endelementdelay="0"
										data-end="8700"
										data-endspeed="300"
										style="z-index: 2; max-width: auto; max-height: auto; white-space: nowrap;"><h2><b>LUXE</b><br>& tradition</h2>
										<p>Ixelles</p>
									</div>
								</li>
								<!-- SLIDE  -->
								<li data-transition="fade" data-slotamount="7" data-masterspeed="300"  data-saveperformance="off" >
									<!-- MAIN IMAGE -->
									<img src="medias/home/3.jpg"  alt="slide41"  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
									<!-- LAYERS -->
									<!-- LAYER NR. 1 -->
									<div class="tp-caption transp_bg lfl"
										data-x="0"
										data-y="128"
										data-speed="500"
										data-start="500"
										data-easing="easeOutExpo"
										data-splitin="none"
										data-splitout="none"
										data-elementdelay="0"
										data-endelementdelay="0"
										data-end="8700"
										data-endspeed="300"
										style="z-index: 4; max-width: auto; max-height: auto; white-space: nowrap;"><h2><b>moderne</b><br>& chaleureux</h2>
										<p>Uccle</p>
									</div>
									<!-- LAYER NR. 4 -->
								</li>
							</ul>
							<div class="tp-bannertimer"></div>	</div>
						</div>


						<!-- END REVOLUTION SLIDER -->
					</div>