@color_main:										#837255;


@color_background_main:						#F3F3F3; //body background
@color_background_1:							#E6E6E6;//gris clair
@color_background_2:							#B4B8BC; // gris souris
@color_background_3:							#1F2326; // dark grey footer
@color_background_4:							#1B1E21; // black grey footer

@color_red: 									#933b13;
@color_orange:									#c27f0e;


@color_text_1:									#45484A; // body text
@color_text_2:									#4d565d; // footer headers
@color_text_3:									#909397; // footer sub
@color_text_4:									#A3B5C2; // footer link
@color_text_5:									#69767F; //footer body

@color_link_1:									#3170ac;

@color_box_1:										#DADADA; //separator

