@import '_variables.less';
@import "../../../../../vendor/twbs/bootstrap/less/mixins.less";
@import "../../../../../vendor/twbs/bootstrap/less/variables.less";

			/* main_color */
	a,
	.widget_categories li.active a, .widget_categories li.active,
	.z-active .z-link,
	.tab-nav li.active a,
	.menu>li:hover>a,
	.menu>li.current_page_item>a,
	.menu>li:hover>a:after,
	.menu>li.current_page_item>a:after,
	.advantages a:hover h1,
	.why-choose-us a:hover h1,
	.post>header h2,
	.post-author a,
	.post-comments.inline a,
	.read-more,
	.post-pagination li:hover a,
	.post-pagination li.active a
	.widget_categories li:hover,
	.widget_categories a:hover,
	.gallery-filters a:hover,
	.gallery-filters a.selected,
	.column_post header a,
	.column_post header h1,
	.column_post-category span,
	.column_post-category a,
	.column_post-author span,
	.column_post-author a,
	.purchase-plate_header,
	.widget_recent_posts_2 .item header h1,
	.widget_recent_posts_2 .item header h1 a,
	.member-info span,
	.post-blockquote,
	.post h1,
	.number-of-comments span,
	.comment-reply,
	blockquote,
	.widget_accordion .item.active h1,
	.post-category span, .post-category a,
	.post-comments.inline a,
	.widget_categories li:hover,
	.widget_categories a:hover,
	.dropcap_letter,
	.widget_accordion footer span+span,
	.sc-list ul li:hover,
	.service-icon:hover span,
	li.mega-menu > .sub-menu > li li a:hover,
	.featured-project:hover h2,
	.sc-icon span, .why-choose-us a:hover h2, .advantages a:hover h2,
	.widget_accordion .item.active h2,
	.service.service-style2 .service-icon span,
	.sc-list ul li:before,
	li.mega-menu > .sub-menu > li li a:before, .headerstyle2_2 .sub-menu > li a:before,
	.menu li:hover>a:after, .menu li.current_page_item>a:after,
	li.mega-menu > .sub-menu > li li a:hover,
	.headerstyle2_2 .sub-menu > li a:hover,
	.sc-icon.sc-icon-style4 a,
	.widget_recent_comments li:hover, .widget_recent_comments a:hover,
	.left_navigation li:hover, .left_navigation a:hover
		{
			color: @color_main;
		}

			.widget_out_stuff-container .item-con-t1:hover
			{
			-webkit-box-shadow: 0 3px 0 0 @color_main;
			box-shadow: 0 3px 0 0 @color_main;
		}

			.menu>li:hover>a:after,
	.menu>li.current_page_item>a:after,
	.blue,
	.widget_out_stuff2 .item-con-t1:hover header .bg-black-045,
	.widget_multi_posts_entries .header .item.active .button,
	.underline .z-active .z-link,
	.advantages a .advantages-img span:first-child+span,
	.why-choose-us .why-choose-us-img span:first-child+span,
	.post-comments span,
	.border-bottom-blue-3px:after,
	.socials li span,
	.infobox .bottom-line,
	.widget_out_stuff2 .item-con-t1 header .overlay,
	.item-con-t1 .blue-line,
	.widget_out_stuff-container .item-con-t1 .corner,
	.member-social a:hover,
	.gallery-image-links a span:first-child+span,
	.images-slider .flex-direction-nav li a:hover,
	.teaser a .advantages-img span:first-child+span,
	.rev-direction-nav a span:hover,
	.dropcap_circle .dropcap_letter,
	.sc-icon.sc-icon-style2:hover span, .btn-style2,
	.sc-skillbar-style-2 .sc-skillbar-bar span,
	.sc-skillbar-style-2 .sc-skillbar-bar span:after,
	.service.service-style2:hover .service-icon div,
	.headerstyle2.headerstyle2_2 .menu>li.current_page_item>a,
	.headerstyle2.headerstyle2_2 .menu>ul>li.current_page_item>a,
	.sc-icon.sc-icon-style4:hover span,
	.headerstyle2.headerstyle2_2 .menu>li.current_page_item>a,
	.headerstyle2.headerstyle2_2 .menu>ul>li.current_page_item>a,
	.headerstyle2.headerstyle2_2 .menu>li.current-menu-parent>a
			{
			background-color: @color_main;
		}

			.blue-grad
			{
			background: -moz-radial-gradient(center, ellipse cover, rgba(188,78,165, 0.94) 0%, rgba(137,27,114, 0.85) 100%);
			background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(188,78,165, 0.94)), color-stop(100%,rgba(137,27,114, 0.85)));
			background: -webkit-radial-gradient(center, ellipse cover, rgba(188,78,165, 0.94) 0%,rgba(137,27,114, 0.85) 100%);
			background: -o-radial-gradient(center, ellipse cover, rgba(188,78,165, 0.94) 0%,rgba(137,27,114, 0.85) 100%);
			background: -ms-radial-gradient(center, ellipse cover, rgba(188,78,165, 0.94) 0%,rgba(137,27,114, 0.85) 100%);
			background: radial-gradient(ellipse at center, rgba(188,78,165, 0.94) 0%,rgba(137,27,114, 0.85) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f048bddb', endColorstr='#d93476a3',GradientType=1 );
		}

			.blue-radial-grad
			{
			background: @color_main;
			background: -moz-radial-gradient(50% 100%, circle farthest-side, #524029, @color_main);
			background: -webkit-gradient(radial, 50% 100%, 0, 50% 100%, 100%, color-stop(0%,#524029), color-stop(100%,@color_main));
			background: -webkit-radial-gradient(50% 100%, circle farthest-side, #524029, @color_main);
			background: -o-radial-gradient(50% 100%, circle farthest-side, #524029, @color_main);
			background: -ms-radial-gradient(50% 100%, circle farthest-side, #524029, @color_main);
			background: radial-gradient(50% 100%, circle farthest-side, #524029, @color_main);
		}




			.service-icon:hover div
			{
			border-color: @color_main;
		}

			.menu>li:hover>.sub-menu,
	.z-active .z-link,
	.post-details, .headerstyle4 .menu li ul,

			{
			border-top-color: @color_main;
		}

			.widget_multi_posts_entries .header,
	.underline .z-link,
	.infobox .bottom-line,
	.bottom-left .z-active .z-link,
	.bottom-right .z-active .z-link,
	.bottom-center .z-active .z-link
			{
			border-bottom-color: @color_main;
		}

			.purchase-plate,
	.sc-call-to-action,
	.vertical.top-left .z-active .z-link
			{
			border-left-color: @color_main;
		}

			.vertical.top-right .z-active .z-link
			{
			border-right-color: @color_main;
		}

		.vertical.top-left .z-active .z-link {
			-webkit-box-shadow: inset 1px 0 0 0  @color_main;
			box-shadow: inset 1px 0 0 0  @color_main;
		}

		.vertical.top-right .z-active .z-link {
			-webkit-box-shadow: inset -1px 0 0 0  @color_main;
			box-shadow: inset -1px 0 0 0  @color_main;
		}

		.bottom-left .z-active .z-link,
		.bottom-right .z-active .z-link,
		.bottom-center .z-active .z-link {
			box-shadow: inset 0 -1px 0 0 @color_main;
		}

		.z-active .z-link {
			box-shadow: inset 0 1px 0 0  @color_main;
		}







.two-headers h2 {
	margin: 4px 0 10px 0;
	/*font-family: 'EB Garamond', serif;*/



	color: #fff;
/*font: 20px 'Open Sans', sans-serif;
text-transform: uppercase;*/
line-height: 1;
font-weight: 50;

}



.fixed .mini_logo {
	width: 129px;
}


.container-t1 {
	/*max-height: 192px;*/
	overflow: hidden;
}


.page-header {
	padding-bottom: 0px;
	border-bottom: 0px;
	margin:0;
}
/* padding-bottom: 9px; */
/* margin: 40px 0 20px; */
/* border-bottom: 1px solid #eee; */


.pagination {
	margin: 0;
}

.menu li ul {
	background: #292929;
}


.btn-group-vertical {
	width:100%;
}



.btn-primary {
	background-color: #acb5bc;
	background-color: #6D6D6D;
	background-color: #a2a5a9;
	border-color: #cccccc;
}

.btn-primary.active, .btn-primary:hover{
 background-color: #6D6D6D;
 /*background-color: @color_main;*/
 border-color: #6b6b6b;
 }


 .advantages .icon-content, .advantages a {
 	margin-left: 0;
 }


 img.mini_logo {
 	vertical-align: top;
 }

 .lighter-grey {
 	padding: 0 0 10px 0;
 }


 .navbar-brand {
 	padding: 5px 15px;
 }

 .navbar-nav>li>a {
 	padding:13px 10px 10px 10px;
 	font-size: 14px;
 }

 .advantages  section {
 	padding-bottom:0;
 	margin-bottom:0;
 }






 /*    */



@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,700);.tp-caption a{color:#ff7302;text-shadow:none;-webkit-transition:all 0.2s ease-out;-moz-transition:all 0.2s ease-out;-o-transition:all 0.2s ease-out;-ms-transition:all 0.2s ease-out}.tp-caption a:hover{color:#ffa902}

h2.title {
	font-size: 24px;
	font-weight: 300;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 15px;
	margin-top: 25px;
}

 .separator:after {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(218, 218, 218, 0);
	border-top-color: #DADADA;
	border-width: 7px;
	margin-left: -7px;
}





#menutop {
	min-height: 30px;
	margin: 0;
	ul.nav {
		li.dropdown {
			a {
				padding: 7px 10px 7px 10px;
			}
		}
	}
}

#search {
	background: @color_background_2;
}



.item header h2 a {
	font-size: 18px;
	font-weight: 300;
	color: #3170ac;
	text-transform: none;
}










#detail {
	font-size: 14px;
	min-height:400px;
}

#detail h2 {
	font-size: 14px;
}

#detail .infos ul {
	list-style: none;
	font-weight: bold;
	font-size: 15px;
	margin:0;
	padding:0;
}


#detail .infos ul label{
	list-style: none;
	font-weight: normal;
}


.container-t1 {
	padding:0;
	border:0;
	padding:0;
	background: #ffffff;
	img {
		border: 0;
	}
}
.widget_out_stuff2  {
	margin-bottom:10px;
	article {
		border:0;
		padding:0;
		background: #ffffff;
	}
	a:hover {
		header {
			top:0;
			height:100%;
			p {
				color: #ffffff;
				padding:10px;
				.opacity(1);
			}
		}
	}
}
.widget_out_stuff2 .item-con-t1 header {

	bottom:0;
	height: 93px;
	line-height: 13px;
	z-index: 1;
	position: absolute;
	display: block;
	left:0;
	width: 100%;
	opacity: 1;
	text-align: left;
	h2 {
		text-align: left;
		padding:5px 5px 5px 10px;
	}

}





.btn.btn-red {
	background-color: @color_red;
	color: #ffffff;
}

.btn.btn-red.active,
.btn.btn-red:hover {
	background-color: darken(@color_red, 5%);
}

.btn.btn-orange {
	background-color: @color_orange;
	color: #ffffff;
}
.btn.btn-orange.active,
.btn.btn-orange:hover {
	background-color: darken(@color_orange, 5%);
}


.container.main {
	min-height: 300px;
	padding-top: 30px;
	padding-bottom:20px;
}

.home .container.main {
	min-height: 30px;
}
.home_infos  {
	padding:20px 0 20px 0 ;
	font-size: 1.2em;
	text-align: justify;
}
.home_infos  {
	padding:20px 0 20px 0 ;
	font-size: 1.2em;
	text-align: justify;
}

.home_illu  {
	padding:20px 0 0 0 ;

}


.fa-facebook:hover {
	color: darken(@color_facebook, 5%) !important;
}
.fa-twitter:hover {
	color: darken(@color_twitter, 5%) !important;
}
.fa-instagram:hover {
	color: darken(@color_instagram, 5%) !important;
}
.fa-pinterest:hover {
	color: darken(@color_pinterest, 5%) !important;
}
.fa-google-plus:hover {
	color: darken(@color_google, 5%) !important;
}



#detail .social,
ul.social {
	margin:0;
	padding:0;
	.fa {
		border-radius: 50%;
		padding: 6px;
		height: 43px;
		width:43px;
		text-align: center;
		margin-right:10px;
		background-image: none;
		font-size: 28px;
	}
	a.fa:hover {
		text-decoration: none;
	}
	.fa-facebook {
		color: @color_facebook;
		border: 2px solid @color_facebook;
	}
	.fa-facebook:hover {
		color: darken(@color_facebook, 5%);
		border-color: darken(@color_facebook, 5%);
	}
	.fa-twitter {
		color: @color_twitter;
		border: 2px solid @color_twitter;
	}
	.fa-twitter:hover {
		color: darken(@color_twitter, 5%);
		border-color: darken(@color_twitter, 5%);
	}
	.fa-instagram {
		color: @color_instagram;
		border: 2px solid @color_instagram;
	}
	.fa-instagram:hover {
		color: darken(@color_instagram, 5%);
		border-color: darken(@color_instagram, 5%);
	}
	.fa-pinterest {
		color: @color_pinterest;
		border: 2px solid @color_pinterest;
	}
	.fa-pinterest:hover {
		color: darken(@color_pinterest, 5%);
		border-color: darken(@color_pinterest, 5%);
	}
	.fa-google-plus {
		color: @color_google;
		border: 2px solid @color_google;
	}
	.fa-google-plus:hover {
		color: darken(@color_google, 5%);
		border-color: darken(@color_google, 5%);
	}

}

ul.social li{
	display: inline;
	list-style: none;
}

.numberCircle {
    border-radius: 50%;
   // behavior: url(PIE.htc); /* remove if you don't care about IE8 */

    width: 36px;
    height: 36px;
    padding: 8px;

    background: #fff;
    border: 2px solid #666;
    color: #666;
    text-align: center;

    font: 32px Arial, sans-serif;
}


#recent-tweets {
	ul {
		margin:0;
		padding: adding:0;
	}
	ul,li {
		list-style: none;
	}
	.message {
		color: #ffffff;
		a {
			color: @color_twitter;
		}
		.time {
			color: @color_orange;
		}
	}
}


footer {
	.wrapper {

	}
}

#detail .carousel {
	background: @color_background_main;
	.carousel-inner {
		.item {
			height: 100%;
			width: 100%;
			background: @color_background_main;
	    		img {
	    			margin: 0 auto;
	    			min-height: 100%
	    		}
	    	}
	}
	.carousel-control.left,
	.carousel-control.right {
		background: none;
	}

}



address {
	ul,li {
		margin:0;
		padding:0;
	}
	li {
		list-style: none;
	}
}


ul.documents {
	margin:0;
	padding:0;
	padding-top:20px;
	li {
		display: inline;
		float:left;
		padding: 0 10px;
		div.document {
			width: 100px;
			text-align: center;
			img {
				width: 65px;
			}
		}
	}
}


/* columns of same height styles */
.container-xs-height,
.container-md-height {
    display:table;
    padding-left:0px;
    padding-right:0px;
}
.row-xs-height,
.row-md-height {
    display:table-row;
}
.col-xs-height,
.col-md-height {
    display:table-cell;
    float:none;
}


@media (min-width: 320px) {
    .container-md-height {
        display:block;

    }
    .row-md-height {
        display:block;
    }
    .col-md-height {
        display:block;
    }

    #detail .carousel-inner {
    	height:270px;

    }
}


@media (min-width: 480px) {
    .container-md-height {
        display:block;

    }
    .row-md-height {
        display:block;
    }
    .col-md-height {
        display:block;
    }

    #detail .carousel-inner {
    	height:340px;

    }

     .list{
	    	.estate {
	    		.frame {
	    			article {
	    				.container-inner {
	    					header {
			    				.text {

			    				}
			    			}
	    				}

		    		}
	    		}

	    	}
	}
}

@media (min-width: 768px) {
    .container-md-height {
        display:block;

    }
    .row-md-height {
        display:block;
    }
    .col-md-height {
        display:block;
    }

    #detail .carousel-inner {
    	height:562px;
    }


    #main_menu #search_navigation ul.nav li a {
    			font-size: 1.2em;
    			padding: 13px 10px 11px 10px;

    }


}




@media (min-width: 992px) {
	body {
		background: red;
	}
    .container-md-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-md-height {
        display:table-row;
    }
    .col-md-height {
        display:table-cell;
        float:none;
    }

    #detail .carousel-inner {
    	height:725px;
    }

    #main_menu #search_navigation ul.nav li a {
    			font-size: 1.2em;
    			padding: 13px 12px 11px 12px;

    }

      .list{
	    	.estate {
	    		article {
	    			header {
	    				.text {
	    					h2 {
	    						width: 190px;
	    						white-space: nowrap;
				                  overflow: hidden;
				                  text-overflow: ellipsis;
	    					}
	    				}
	    			}
	    		}
	    	}
	}


}
@media (min-width: 1200px) {
    .container-lg-height {
        display:table;
        padding-left:0px;
        padding-right:0px;
    }
    .row-lg-height {
        display:table-row;
    }
    .col-lg-height {
        display:table-cell;
        float:none;
    }
    #detail .carousel-inner {
    	height:878px;
    }

    .list{
	    	.estate {
	    		article {
	    			header {
	    				.text {
	    					h2 {
	    						width: 242px;
	    						white-space: nowrap;
				                  overflow: hidden;
				                  text-overflow: ellipsis;
	    					}
	    				}
	    			}
	    		}
	    	}
    }
    #main_menu #search_navigation ul.nav li a {
    			font-size: 1.3em;
    }
}


/* firefox fix */
.img-responsive {
    width: 100%;
}

/* vertical alignment styles */
.col-top {
    vertical-align:top;
}
.col-middle {
    vertical-align:middle;
}
.col-bottom {
    vertical-align:bottom;
}
